.table__td--height{
  width: 100%;
}

.alumni.name{
  width: 300px;
  height: 50px;
}
.alumni.name a
{
  width: 100%;
  height: 100%;
  display: block;
  color: inherit;
  text-decoration: inherit;
}
.alumni.name:hover { background-color: #B19CD9; }