body{
    background-color: #F5F5F5;
    overflow-x: hidden;
}

#wrapper{
    width: 85%;
    margin-right: auto;
   margin-left: auto;
    min-width: 900px;
   max-width: 1280px;
  }
  
  .backgroundImage{
    opacity: 0.7;
  }
  
  .input-group{
    position: absolute;
    top:27%;
    width: 1200px;
    left:12%;
  }

  .header__img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  
  .nav-link.active {
    color: #fff;
    background-color: #F7C600;
    border-radius: 0%;
    /* padding-bottom: 0%; */
    
  }
  
  .nav-link {
    color: black;
    background-color: #EFE6EE;
    border-radius: 0%;
    padding-top: 0%;
    padding:5%;
  
  }
  
  .col-2 {
      /* -ms-flex: 0 0 16.666667%; 
      flex: 0 0 16.666667%; */
      -ms-flex: 0 0 13%; 
      flex: 0 0 13%;
      max-width: 13%;      /*16.666667% */
      padding: 50px 0 0;
      background-color: #C9B3CD;
      height: calc(100vh - 48px);
      padding-top: 0rem;
      top: 0;
     
      /* overflow-x: hidden;
      overflow-y: auto;  */
    }
  
    /* admin tab */
  
    .home-row{
    padding-left: 10%;
  }

  #container {
    height: 180px;
    width: 300px;
    background-color:#F5B62D ;
    color : white;
    text-decoration: none;
    font-weight: bolder;
    padding: 32px;
    font-size:35px;
  }

  #alumniText{
    text-decoration: none;
  }

  .alert {
    background-color: #E9E5E5;
  }

  a:hover{
    text-decoration: none;
    color: black;
  }